* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}
/* SIDEBAR */
    .container-index{
      display: flex;
    }

    /* .container-nav{
      display: flex;
      flex-direction: column;
    } */

     .navegation{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      border: 1px solid black;
      box-sizing: border-box;
      width: auto;
      height: 100vh;
      width: 20vw;
      background-color: #545587;
      overflow-y: auto;
  }

  .content-nav{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    border: 1px solid black;
    margin: 15px auto;
    width: 90%;
    height: 50%;
  }

  .content-nav b{
    font-size: 25px;
    margin: 20px;
  }
  .content-nav b i{
    color: #4d84e2;
    margin-right: 15px;
  }
  .nav-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background-color: #3B3B66;
      border-radius: 20px;
      margin-top: 20px;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .nav-ul li {
      box-sizing: border-box;
      margin: 10px;
  }

  .nav-ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  }


    .nav-ul button{
      background-color: #3B3B66;
      color: #fff;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 15px;
      margin-left: 5px;
    } 
    .nav-ul li a i,
    .nav-ul button i{
    margin-right: 5px;
    color: #F7C184;
      }

    .nav-ul a:hover, .nav-ul button:hover{
    color: #F7C184;
    }

    .content-nav h3{
      margin: 5px 20px;
    }

    .chat-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      margin-top: 5px;
      /* display: flex;
      flex-direction: column;
      justify-content: center; */
      border: 1px solid black;
    }

    .chat-ul li{
      background-color: #3B3B66;
      box-sizing: border-box;
      margin: 10px 0;
      padding: 10px;
      border-radius: 20px;
    }
    .chat-ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    }
    .chat-ul span{
      color: #F7C184
      }
  

    .open,
    .close {
        display: none;
        margin: 5px;
    }

    @media screen and (max-width: 850px) {
        .open,
        .close {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .open {
            color: #F7C184;
         }

        .close {
            color: #F7C184;
        }

        .navegation {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: absolute; 
             top: 0;
            background-color: #545587;
            height: 100vh;
            width: 40vw;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

        .navegation.visible {
            opacity: 1;
            visibility: visible;
        }

    }

    @media screen and (max-width: 460px) {
      .nav-ul li a{
        font-size: 15px;
        }
    }