* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: #545587;
}
/* SIDEBAR */
    .container-index{
      display: flex;
    }

    /* .container-nav{
      display: flex;
      flex-direction: column;
    } */

     .navegation{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      box-sizing: border-box;
      width: auto;
      height: 100vh;
      width: 20vw;
      overflow-y: auto;
  }

  .content-nav{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    margin: 15px auto;
    width: 90%;
    height: 50%;
  }

  .content-nav b{
    font-size: 25px;
    margin: 20px;
  }
  .content-nav b i{
    color: #4d84e2;
    margin-right: 15px;
  }
  .nav-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background-color: #3B3B66;
      border-radius: 20px;
      margin-top: 20px;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .nav-ul li {
      box-sizing: border-box;
      margin: 10px;
  }

  .nav-ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  }


    .nav-ul button{
      background-color: #3B3B66;
      color: #fff;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 15px;
      margin-left: 5px;
    } 
    .nav-ul li a i,
    .nav-ul button i{
    margin-right: 5px;
    color: #F7C184;
      }

    .nav-ul a:hover, .nav-ul button:hover{
    color: #F7C184;
    }

    .content-nav h3{
      margin: 5px 20px;
    }

    .chat-ul{
      list-style: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      margin-top: 5px;
      /* display: flex;
      flex-direction: column;
      justify-content: center; */
    }

    .chat-ul li{
      background-color: #3B3B66;
      box-sizing: border-box;
      margin: 10px 0;
      padding: 10px;
      border-radius: 20px;
    }
    .chat-ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    }
    .chat-ul span{
      color: #F7C184
      }
  

    .open,
    .close {
        display: none;
        margin: 5px;
    }

    @media screen and (max-width: 850px) {
        .open,
        .close {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .open {
            color: #F7C184;
         }

        .close {
            color: #F7C184;
        }

        .navegation {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: absolute; 
             top: 0;
            background-color: #545587;
            height: 100vh;
            width: 40vw;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

        .navegation.visible {
            opacity: 1;
            visibility: visible;
        }

    }

    @media screen and (max-width: 460px) {
      .nav-ul li a{
        font-size: 15px;
        }
    }


/* INDEX */
.content-index{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content-index .select-chat{
  color: #fff;
  margin-top: 15vh;
  text-align: center;
}

.index-chat{
background-color: #3B3B66;
width: 70%;
height: 80%;
margin: auto;
border-radius: 20px ;
}

.header-chat{
  display: flex;
  border-bottom: 1px solid #F7C184;
  justify-content: space-between;
  padding: 15px;
  /* position: relative; */

}

.header-chat h3{
  color: #fff;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: #F7C184;
}

.menu-options {
  display: none; /* Inicialmente oculto */
  position: absolute;
  top: 100px; /* Ajusta la posición */
  right: 120px;
  background-color: #545587;
  border: 1px solid #ccc;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-options li {
  padding: 8px 16px;
}

.header-chat button{
  background-color: #545587;
  border: none;
  color: #fff;
  cursor: pointer;
}

.chat-box{
  margin: auto;
  width: 90%;
  height: 70%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-bubble{
  background-color: #636999;
  margin: 5px 0;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  overflow-wrap: break-word; /* Asegura que el texto se ajuste */
  word-wrap: break-word; /* Compatibilidad con navegadores antiguos */
}

.chat-bubble strong{
  color: #F7C184;
}

.chat-bubble p{
  color: #fff;
}

.sent {
  align-self: flex-start;
  border-top-right-radius: 0;
}

.received {
  align-self: flex-end;
  border-top-left-radius: 0;
}

.chat-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.chat-form textarea{
  width: 70%;
  padding: 5px;
  border-radius: 20px;
  background-color: #3B3B66;
  border: 1px solid #F7C184;
  outline: none;color: #fff;
}

.chat-form i{
color: #F7C184;
}
.chat-form button{
  background-color: #3B3B66;
  border: none;
  cursor: pointer;
}

/*SEARCH*/
.search-container{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
}

.search-container ul{
  list-style-type: none;
  margin-top: 10px;
}

.search-container a{
  color: #fff;
  text-decoration: none;
}

.search-container a:hover{
  color: #F7C184
}

.search-container input[type="text"]{
  outline: none;
} 